@import '../../../scss/common/theme';
@import '../../../scss/common/spacing';

.st {
    &-label {
        font-size: 12;
        font-weight: 600;
        @extend .mt-5
    }
    &-unit {
        font-size: 22;
    }
    &-value {
        font-size: 32;
        color: map-get($grey, 800);
    }
}
