<GridLayout class="action-bar"
    [class.transparent]="transparent$ | async"
    [class.pw-3]="isIOS"
    columns="auto, *, auto"
    [row]="row"
    [class.transparent]="transparent">
    <Button row="0" *ngIf="hasBack$ | async"
        class="menu-toggle"
        mat="arrow-back"
        (tap)="handleBackNavigation()"></Button>
    <Button row="0" #toggleIcon
        class="menu-toggle"
        (tap)="onToggleNavigation.next(true)"
        [mat]="leftIcon"></Button>
    <Button row="0" *ngIf="primaryIcon$ | async"
        textAlignment="right"
        col="2"
        (tap)="handlePrimaryAction()"
        [mat]="primaryIcon$ | async"></Button>
</GridLayout>
