<RadSideDrawer showOverNavigation="true" gesturesEnabled="true">
    <StackLayout tkDrawerContent>
        <healthcare-sidedrawer (onNavigate)="hideDrawer()"></healthcare-sidedrawer>>
    </StackLayout>
    <GridLayout rows="auto, *" tkMainContent>
        <GridLayout
            [row]="(actionBarTransparent$ | async) ? 0 : 1"
            [marginTop]="(actionBarTransparent$ | async) ? -20 : 0">
            <router-outlet></router-outlet>
        </GridLayout>
        <healthcare-actionbar (onToggleNavigation)="showDrawer()"></healthcare-actionbar>
        <Label *ngIf="drawerVisible"
            row="0"
            rowSpan="2"
            #overlay
            class="overlay" ></Label>
    </GridLayout>
</RadSideDrawer>
