<GridLayout rows="100, auto, auto, auto, *" class="ph-4 side-drawer">
    <!-- TODO User Avatar -->
    <Label row="1" class="pw-4 h3" [text]="(authUser$ | async)?.firstName"></Label>
    <Label row="2" class="pw-4 h3" [text]="(authUser$ | async)?.lastName"></Label>
    <Label row="3" class="pw-4" text="57% of goals"></Label>

    <StackLayout class="mt-5" row="4">
        <StackLayout *ngFor="let item of menuItems"
            (tap)="onMenuTap(item)"
            [nsRouterLink]="item.link"
            [nsRouterLinkActive]="['link-active']"
            orientation="horizontal">
            <Label class="active-border"></Label>
            <Label class="active-bg"></Label>
            <Button class="menu-item"
                (tap)="onMenuTap(item)"
                [text]="item.label">
            </Button>
        </StackLayout>
    </StackLayout>
</GridLayout>
