.b {
    &l {
        &-grey {
            border-left-color: map-get($grey, 400);
            border-left-width: 1;
        }
    }
    &r {
        &-grey {
            border-right-color: map-get($grey, 400);
            border-right-width: 1;
        }
    }
    &t {
        &-grey {
            border-top-color: map-get($grey, 400);
            border-top-width: 1;
        }
    }
    &b {
        &-grey {
            border-bottom-color: map-get($grey, 400);
            border-bottom-width: 1;
        }
    }
}
