@import '../common/theme';

.bold {
    font-weight: bold;
}

Label, .label {
    color: map-get($grey, 400);
}

.label {
    font-weight: 500;
    &-medium {
        color: map-get($grey, 500);
    }
    &-dark {
        color: map-get($grey, 800);
    }
    &-white {
        color: map-get($grey, 25);
    }
}

.h2 {
    font-size: 32;
}

.h3 {
    font-size: 20;
    @extend .label-dark
}

.h4 {
    font-size: 18;
}

.accent {
    color: map-get($blue, 500);
}
